<%- include includes.ejs %>
<body>

<div class="main">

<%- include logo_text.ejs %>

<div class="logout">
<a href="/">Logout</a>
</div>

<table id="records" class="cell-border hover" style="width:100%">
  <thead>
   <tr>
    <th>Id</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Timestamp</th>
    <th>Duration</th>
    <th>Cost</th>
   </tr>
  </thead>
  <tbody>
<% for(i=0;i<events.length;i++) { %>
    <tr>
      <td>
<% var outAddress = String(JSON.stringify(events[i].address)).replace(/^"|"$/g,''); %>
<%= outAddress %>
      </td>
      <td>
<%= JSON.stringify(events[i].count); %>
      </td>
      <td>
<%= JSON.stringify(events[i].timestamp); %>
      </td>
      <td>
<% 
  var date    = new Date(events[i].timestamp*1000);
//  var this_date = date.format("hh:mm:ss tt");
  var hours   = date.getHours();
  var minutes = date.getMinutes();
  var seconds = date.getSeconds();
  var full_date    = date.getDate();
  if(String(hours).length == 1) hours = "0" + String(hours);
  if(String(minutes).length == 1) minutes = "0" + String(minutes);
  if(String(seconds).length == 1) seconds = "0" + String(seconds);
%>
<%= date %>
      </td>
      <td>
<%= hours %>:<%= minutes %>:<%= seconds %>
      </td>
      <td>
<%= JSON.stringify(events[i].duration); %>
      </td>
      <td>
<% var rate = (1.00 / 60); %>
&euro; <% var cost = (events[i].duration * rate) %>
<%= cost.toFixed(2) %>
      </td>
    </tr>
<% } %>
  </tbody>
<tfoot>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
</tfoot>
</table>

</div>

</body>
</html>
